ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

ul, li{
    color: green;

}

ul, li, a{
    text-decoration: none";
    color: green;
}