ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

ul, li{
    color: green;

}

ul, li, Link{
    text-decoration: none;
    color: green;
}