ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

ul li{
    list-style-type: none;
    /* background-color: yellow; */
}

ul li a{
    text-decoration: none;
    color: green;
}

a:hover{
    background-color: blue;
}
a:active{
    background-color:}